@import "varibles.scss";
@import "font-family.scss";
@import "mixins.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    &:focus-visible {
        outline: none;
    }
}

html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    color: $maincolor1;
    font-family: "Gilroy", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $maincolor1;

    &:hover {
        color: $maincolor1;
    }
}

.f-links {
    background-color: #F2EFEA;
}

@include btn-default($bgcolor1);
