@import "varibles.scss";
@import "font-family.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
html {
    overflow-x: hidden;
}
body {
    font-size: 16px;
    font-family: "Gilroy", serif;
    background-color: #ffffff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: $maincolor1;
    &:hover {
        color: $maincolor1;
    }
}
.container-fluid {
    padding: 0;
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
    container-fluid {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    container-fluid {
        padding: 0 10px;
    }
}
