@import "varibles.scss";

.footer {
  background-color: $bgcolor1;
  padding: 60px 160px 30px;
  &__cba {
    margin-bottom: 40px;
    &_info {
      font-size: 26px;
    }
  }
  &__links {
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}
