@import "varibles.scss";

footer {
  background-color: $bgcolor1;
  padding: 88px 6vw 111px;

  .f__cba {
    font-size: 1.3vw;


    .f__links {
      flex: 0 0 auto;
      width: 26.4%;

      a {
        display: block;
        margin-bottom: 20px;
      }
    }

    &_info {
      flex: 0 0 auto;
      width: 47.2%;
    }
  }
}

@media (max-width: 1400px) {
  footer {
    padding: 50px 8%;

    .f__cba {
      font-size: 2.3vw;

      .f__links {
        width: 50%;
        margin-bottom: 40px;

        a {
          display: block;
          margin-bottom: 20px;
        }
      }

      &_info {
        width: 100%;

        br {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 40px 20px;

    .f__cba {
      font-size: 2.8vw;
      margin-bottom: 0;

      .f__links {
        width: 50%;
        margin-bottom: 30px;
      }

      &_info {
        // font-size: 18px;
      }
    }
  }
}

@media (max-width: 476px) {
  footer {
    .f__cba {
      margin-bottom: 0;
      font-size: 4.5vw;

      .f__links {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
      }

      &_info {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
