@import "varibles.scss";

header {
  background-color: $bgcolor1;
  background-image: url(../images/h__ellipse_desk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding: 0;
  color: $maincolor1;

  .h__top {
    font-size: 1vw;
    position: relative;
    z-index: 1;
  }

  .h__content {
    font-weight: bold;

    &_space {
      width: 10.2vw;
    }

    &_text {
      padding-top: 8vh;
      flex: 0 0 auto;
      width: 44%;

      .marathon-info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 6vh;

        &-content {
          display: flex;
          flex-direction: column;
          font-size: 1.2vw;
          line-height: 1.2;
          margin-right: 5.3vw;

          .t-1 {
            color: $maincolor1;
            margin-bottom: 5px;
            font-weight: 500;
          }

          .t-2 {
            font-weight: bold;
            color: $basecolor;
          }
        }
      }

      .title-1 {
        font-size: 1.56vw;
        margin-bottom: 6.2vh;
        font-weight: 500;
      }

      .title-2 {
        font-size: 5.1vw;
        color: $basecolor;
        margin-bottom: 15px;
      }

      .title-3 {
        font-size: 1.66vw;
        margin-bottom: 10.6vh;
      }

      .under-title {
        .buttons {
          margin-bottom: 25px;
          margin-left: -22px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;

          .b-1 {
            margin-right: 21px;
          }
        }

        .text {
          font-size: 14px;

          .lighten {
            font-weight: normal;
            margin-top: 10px;
          }
        }
      }
    }

    &_img {
      flex: 0 0 auto;
      width: 43%;
      transform: translateY(-4vh);
    }
  }
}


@media (max-width: 1600px) {
  header {
    padding: 0;
    background-size: cover;

    .h__content {

      &_space {
        width: 8vw;
      }

      &_text {
        width: 48%;
      }

      &_img {
        width: 43%;
      }
    }
  }
}

@media (max-width: 1400px) {
  header {
    background-position: 50% 80%;
    .h__top {
      font-size: 18px;
    }
    .h__content {
      .marathon-info {

        &-content {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    background-position: 50% 100%;
    padding: 0;

    .h__content {
      padding: 60px 0 60px 60px;

      &_space {
        width: 0;
      }

      &_text {
        width: 50%;
        padding-top: 0;

        .title-1 {
          font-size: 26px;
          margin-bottom: 40px;
        }

        .title-2 {
          font-size: 4.8vw;
        }

        .under-title {
          .buttons {
            margin-bottom: 20px;

            .b-1 {
              margin-right: 15px;
            }
          }
        }
      }

      &_img {
        width: 50%;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    .h__top {
      padding: 20px !important;
    }

    .h__content {
      &_text {
        width: 60%;

        .marathon-info {
          margin-bottom: 6vh;

          &-content {
            font-size: 16px;
            margin-right: 3vw;
          }
        }

        .under-title {
          .buttons {
            flex-wrap: nowrap;
          }
        }
      }

      &_img {
        width: 30%;
        margin-top: 120px;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px;
    background-position: 50% 100%;

    .h__top {
      margin-bottom: 7.1vh;
      font-size: 12px;
      padding: 0 !important;
    }

    .h__content {
      padding: 0;

      &_text {
        width: 100%;

        .marathon-info {
          margin-bottom: 8.8vh;

          &-content {
            font-size: 14px;
            margin-right: 4.6vw;

            .t-1 {
              margin-bottom: 10px;
            }
          }
        }

        .title-1 {
          margin-bottom: 24px;
          font-size: 2.5vw;
        }

        .title-2 {
          font-size: 7.2vw;
          letter-spacing: 3px;
          margin-bottom: 20px;
        }

        .title-3 {
          font-size: 2.5vw;
          margin-bottom: 13vh;
        }

        .under-title {
          .buttons {
            margin-left: -20px;
          }
        }
      }

      &_img {
        width: 0;
        margin-top: 0;
        position: relative;

        img {
          position: absolute;
          width: 40vw;
          top: -2vh;
          left: -268px;
          max-width: max-content;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  header {
    padding-bottom: 50px;
    background-position: 50% 100%;

    .h__content {
      padding: 0;

      &_text {
        .title-2 {
          font-size: 6vw;
          letter-spacing: 2px;
        }

        .title-3 {
          font-size: 2vw;
          margin-bottom: 10vh;
        }
      }

      &_img {
        img {
          width: 33vw;
          top: 6vh;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    background-image: none;
    position: relative;
    padding-bottom: 20px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1085px;
      width: 1085px;
      background: #ffffff;
      border-radius: 50%;
      z-index: 0;
    }

    .h__top {
      margin-bottom: 3vh;
    }

    .h__content {
      padding: 20px 0 60px 20px;
      position: relative;
      z-index: 1;

      &_text {
        padding-top: 0;

        .marathon-info-content {
          margin-right: 6.5vw;
        }

        .title-2 {
          font-size: 45px;
        }

        .title-3 {
          font-size: 18px;
          margin-bottom: 0;
        }

        .img-mob {
          transform: scale(1.15);
        }

        .under-title {
          .buttons {
            flex-direction: column;
            align-items: flex-end;

            .b-1 {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
      }

      &_img {
        display: none;
      }
    }
  }
}


@media (max-width: 476px) {
  header {
    .h__content {
      padding: 0;

      &_text {
        padding-top: 0;

        .marathon-info {
          margin-bottom: 5.8vh;
          &-content {
            font-size: 12px;
          }
        }

        .title-1 {
          font-size: 14px;
          margin-bottom: 25px;
        }

        .title-2 {
          font-size: 30px;
          margin-bottom: 10px;
          letter-spacing: 1px;
        }

        .title-3 {
          font-size: 14px;
        }

        .under-title {
          .buttons {
            .b-1 {
              text-align: end;
            }
          }
        }
      }
    }
  }
}
