header {
  background-color: #f2cb05;
  background-image: url(../images/h__ellipse_desk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding: 0;
  color: #141414;
}
header .h__top {
  font-size: 1vw;
  position: relative;
  z-index: 1;
}
header .h__content {
  font-weight: bold;
}
header .h__content_space {
  width: 10.2vw;
}
header .h__content_text {
  padding-top: 8vh;
  flex: 0 0 auto;
  width: 44%;
}
header .h__content_text .marathon-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6vh;
}
header .h__content_text .marathon-info-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  line-height: 1.2;
  margin-right: 5.3vw;
}
header .h__content_text .marathon-info-content .t-1 {
  color: #141414;
  margin-bottom: 5px;
  font-weight: 500;
}
header .h__content_text .marathon-info-content .t-2 {
  font-weight: bold;
  color: #E4326C;
}
header .h__content_text .title-1 {
  font-size: 1.56vw;
  margin-bottom: 6.2vh;
  font-weight: 500;
}
header .h__content_text .title-2 {
  font-size: 5.1vw;
  color: #E4326C;
  margin-bottom: 15px;
}
header .h__content_text .title-3 {
  font-size: 1.66vw;
  margin-bottom: 10.6vh;
}
header .h__content_text .under-title .buttons {
  margin-bottom: 25px;
  margin-left: -22px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
header .h__content_text .under-title .buttons .b-1 {
  margin-right: 21px;
}
header .h__content_text .under-title .text {
  font-size: 14px;
}
header .h__content_text .under-title .text .lighten {
  font-weight: normal;
  margin-top: 10px;
}
header .h__content_img {
  flex: 0 0 auto;
  width: 43%;
  transform: translateY(-4vh);
}

@media (max-width: 1600px) {
  header {
    padding: 0;
    background-size: cover;
  }
  header .h__content_space {
    width: 8vw;
  }
  header .h__content_text {
    width: 48%;
  }
  header .h__content_img {
    width: 43%;
  }
}
@media (max-width: 1400px) {
  header {
    background-position: 50% 80%;
  }
  header .h__top {
    font-size: 18px;
  }
  header .h__content .marathon-info-content {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  header {
    background-position: 50% 100%;
    padding: 0;
  }
  header .h__content {
    padding: 60px 0 60px 60px;
  }
  header .h__content_space {
    width: 0;
  }
  header .h__content_text {
    width: 50%;
    padding-top: 0;
  }
  header .h__content_text .title-1 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  header .h__content_text .title-2 {
    font-size: 4.8vw;
  }
  header .h__content_text .under-title .buttons {
    margin-bottom: 20px;
  }
  header .h__content_text .under-title .buttons .b-1 {
    margin-right: 15px;
  }
  header .h__content_img {
    width: 50%;
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  header .h__top {
    padding: 20px !important;
  }
  header .h__content_text {
    width: 60%;
  }
  header .h__content_text .marathon-info {
    margin-bottom: 6vh;
  }
  header .h__content_text .marathon-info-content {
    font-size: 16px;
    margin-right: 3vw;
  }
  header .h__content_text .under-title .buttons {
    flex-wrap: nowrap;
  }
  header .h__content_img {
    width: 30%;
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 20px;
    background-position: 50% 100%;
  }
  header .h__top {
    margin-bottom: 7.1vh;
    font-size: 12px;
    padding: 0 !important;
  }
  header .h__content {
    padding: 0;
  }
  header .h__content_text {
    width: 100%;
  }
  header .h__content_text .marathon-info {
    margin-bottom: 8.8vh;
  }
  header .h__content_text .marathon-info-content {
    font-size: 14px;
    margin-right: 4.6vw;
  }
  header .h__content_text .marathon-info-content .t-1 {
    margin-bottom: 10px;
  }
  header .h__content_text .title-1 {
    margin-bottom: 24px;
    font-size: 2.5vw;
  }
  header .h__content_text .title-2 {
    font-size: 7.2vw;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  header .h__content_text .title-3 {
    font-size: 2.5vw;
    margin-bottom: 13vh;
  }
  header .h__content_text .under-title .buttons {
    margin-left: -20px;
  }
  header .h__content_img {
    width: 0;
    margin-top: 0;
    position: relative;
  }
  header .h__content_img img {
    position: absolute;
    width: 40vw;
    top: -2vh;
    left: -268px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media (max-width: 760px) {
  header {
    padding-bottom: 50px;
    background-position: 50% 100%;
  }
  header .h__content {
    padding: 0;
  }
  header .h__content_text .title-2 {
    font-size: 6vw;
    letter-spacing: 2px;
  }
  header .h__content_text .title-3 {
    font-size: 2vw;
    margin-bottom: 10vh;
  }
  header .h__content_img img {
    width: 33vw;
    top: 6vh;
  }
}
@media (max-width: 576px) {
  header {
    background-image: none;
    position: relative;
    padding-bottom: 20px;
  }
  header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1085px;
    width: 1085px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 0;
  }
  header .h__content {
    padding: 20px 0 60px 20px;
    position: relative;
    z-index: 1;
  }
  header .h__content_text {
    padding-top: 0;
  }
  header .h__content_text .marathon-info-content {
    margin-right: 6.5vw;
  }
  header .h__content_text .title-2 {
    font-size: 45px;
  }
  header .h__content_text .title-3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  header .h__content_text .img-mob {
    transform: scale(1.15);
  }
  header .h__content_text .under-title .buttons {
    flex-direction: column;
    align-items: flex-end;
  }
  header .h__content_text .under-title .buttons .b-1 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  header .h__content_img {
    display: none;
  }
}
@media (max-width: 476px) {
  header .h__content {
    padding: 0;
  }
  header .h__content_text {
    padding-top: 0;
  }
  header .h__content_text .marathon-info {
    margin-bottom: 5.8vh;
  }
  header .h__content_text .marathon-info-content {
    font-size: 12px;
  }
  header .h__content_text .title-1 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  header .h__content_text .title-2 {
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  header .h__content_text .title-3 {
    font-size: 14px;
  }
  header .h__content_text .under-title .buttons .b-1 {
    text-align: end;
  }
}/*# sourceMappingURL=header.css.map */