@import "font-family.css";
@import "varibles.scss";
@import "default.scss";
@import "mixins.scss";

header {
  background-color: $bgcolor1;
  background-image: url(../images/h__ellipse_desk.png);
  background-repeat: no-repeat;
  background-position: top;
  color: $maincolor1;
  .h__content {
    font-weight: bold;
    &_space {
      width: 140px;
    }
    &_text {
      padding-top: 165px;
      .title-1 {
        font-size: 1.75rem;
        margin-bottom: 80px;
      }
      .title-2 {
        font-size: 5.5rem;
        color: $basecolor;
        margin-bottom: 15px;
      }
      .title-3 {
        font-size: 1.875rem;
        margin-bottom: 70px;
      }
      .under-title {
        .buttons {
          margin-bottom: 25px;
          .btn-default {
            @include btn-default($bgcolor1);
          }
        }
        .text {
          font-size: 14px;
          padding-left: 20px;
          .lighten {
            font-weight: normal;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.s-1 {
  background-color: $bgcolor1;
  h2 {
    font-size: 45px;
    line-height: 1.5;
  }
  &__px400 {
    padding: 100px 400px;
  }
  // mb-80 {
  //   margin-bottom: 80px !important;
  // }
  .substrate {
    z-index: 5;
    height: 100%;
    @include trans;
    .img-hover {
      @include XY-abs-align;
      @include trans;
      opacity: 0;
      &.h-1 {
        z-index: -1;
      }
      &.h-2 {
        z-index: -1;
      }
      &.h-3 {
        z-index: -1;
      }
      &.h-4 {
        z-index: -1;
      }
    }
    &:hover {
      transform: scale(1.05);
      .desc {
        font-size: 20px;
      }
      .img-hover {
        opacity: 1;
        &.h-1 {
          transform: translate(-105%, -88%);
        }
        &.h-2 {
          transform: translate(12%, -14%);
        }
        &.h-3 {
          transform: translate(33%, -105%);
          z-index: 0;
        }
        &.h-4 {
          transform: translate(-182%, 59%);
          z-index: 0;
        }
      }
    }
  }
  
  &__white-block {
    @include white-box(#fefefe, 0.2, $radius2, 20px, 10px, 0px);
    @include trans;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    .desc {
      font-size: 18px;
      line-height: 1.3;
      transition: all 0.1s ease;
      flex-grow: 1;
    }
  }
}

.s-2 {
  background-color: $bgcolor2;
  color: $maincolor2;
  font-family: "Proxima Nova";
  padding: 100px 0;
  h3 {
    font-size: 32px;
  line-height: 130%;
  }
  &__white-block {
    max-width: 930px;
    margin: 30px auto;
    @include white-box(#ffffff, 0.1, $radius3, 40px, 70px, 30px);
    &_img {
      padding-right: 70px;
    }
    &_info {
      .title {
        font-size: 30px;      
        position: relative;
        margin-bottom: 25px;
        &::after {
          content: '';
          position: absolute;
          width: 157px;
          height: 2px;
          background-color: #962262;
          left: 0;
          bottom: -10px;
        }
      }
      .desc {
        font-size: 34px;
      }
    }
  }
  &__after-text {
    font-size: 32px;
    padding-top: 10px;
  }
}

.s-3 {
  padding: 100px 0;

  h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.s-4 {
  background-color: $bgcolor2;
  color: $maincolor1;
  padding: 100px 0;
  h2 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  &__px230 {
    padding: 0 230px;
  }
  &__white-block {
    @include white-box(#fefefe, 0.2, $radius2, 20px, 20px, 40px);
    flex-direction: column;
    .desc {
      line-height: 1.3;
    }
  }
}

.s-5 {
  background-color: $bgcolor1;
  color: $maincolor1;
  padding: 100px 0;
  h2 {
    font-size: 50px;
    margin-bottom: 80px;
  }
  &__px160 {
    padding: 0 160px;
    margin-bottom: 100px;
  }
  &__white-block {
    background: #FFFFFF;
    box-shadow: 0px 9px 39px rgba(58, 70, 111, 0.15);
    padding: 20px 0;
    
  }
  &__buttons {
    .btn-default {
      @include btn-default(rgba(255, 255, 255, 0.5));
    }
  }
}


@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  header {
    .h__content {
      &_space {
        max-width: 100px;
      }
      &_text {
        .title-1 {
          font-size: 26px;
        }
        .title-2 {
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    .h__content {
      padding: 70px 58px;
      &_text {
        padding-top: 35px;
        .title-1 {
          font-size: 26px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .h__content {
      padding: 40px 20px;
      &_text {
        padding-top: 35px;
        .title-1 {
          font-size: 18px;
        }
      }
    }
  }
}
