@mixin white-box($bg, $color, $bRad, $py, $px, $mb) {
    background: $bg;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, $color);
    border-radius: $bRad;
    padding: $py $px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: $mb;
}

@mixin trans {
    transition: all 0.5s ease;
}

@mixin XY-flex-align($fl: flex) {
    display: $fl;
    align-items: center;
    justify-content: center;
}

@mixin XY-abs-align($fl: flex) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin btn-default($bg-btn) {
    .btn-default {
        display: inline-flex;
        align-items: center;
        position: relative;
        padding: 18px 25px 18px 22px;

        span {
            text-transform: uppercase;
            font-family: "Proxima Nova Rg", sans-serif;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 20px;
            z-index: 2;
        }

        img {
            margin-left: 35px;
            z-index: 2;
        }

        .btn-pro {
            position: absolute;
            background: $bg-btn;
            border: 2px solid $maincolor1;
            border-radius: $radius1;
            width: 78px;
            height: 60px;
            right: 0;
            z-index: 1;
            @include trans;
        }

        & + .text {
            @include trans;
            opacity: 0;
            transform: translateY(-20px);
            margin-top: 25px;
            max-height: 0;
        }

        &:hover {
            .btn-pro {
                width: 100%;
            }
            
            & + .text {
                opacity: 1;
                transform: translateY(0);
                max-height: 120px;
            }
        }
    }

    @media (max-width: 768px) {
        .btn-default {
            span {
                font-size: 18px;
            }

            & + .text {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 476px) {
        .btn-default {
            padding: 18px 19px 18px 29px;

            span {
                font-size: 15px;
            }

            .btn-pro {
                width: 68px;
                height: 52px;
            }

            & + .text {
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
    }
}
