@import "varibles.scss";
@import "mixins.scss";

.s-4 {
  background-color: $bgcolor2;
  color: $maincolor1;
  padding: 100px 0;

  &__logo {
    top: -150px;
    right: 0;
    width: 560px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 60px;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }

  &__px-custom {
    padding: 0 230px;
    margin-bottom: 40px;
  }

  &__white-block {
    @include white-box(#fefefe, 0.2, $radius2, 20px, 20px, 0);
    flex-direction: column;
    height: 100%;

    .desc {
      font-size: 18px;
      line-height: 1.3;
    }
  }
}

@media (max-width: 1600px) {
  .s-4 {
    &__px-custom {
      padding: 0 8%;
    }

    &__white-block {
      .desc {
        br {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .s-4 {
    padding: 80px 8%;

    &__logo {
      width: 380px;
      top: -80px;
      right: 0;
    }

    h2 {
      font-size: 45px;
      margin-bottom: 40px;
    }

    h3 {
      font-size: 32px;
      margin-bottom: 30px;

      br {
        display: none;
      }
    }

    &__px-custom {
      &>div {
        padding: 0 20px;
      }
    }

  }
}


@media (max-width: 768px) {
  .s-4 {
    padding: 60px 5%;

    .s-4__logo {
      width: 380px;
      top: -124px;
      right: -50px;
    }

    h2 {
      font-size: 38px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__px-custom {
      margin-bottom: 20px;
    }

    &__white-block {
      padding: 20px 14px;
      .desc {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 476px) {
  .s-4 {
    padding: 40px 20px;

    h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__px-custom {
      padding: 0;
    }

    &__white-block {
      border-radius: 14px;
    }

  }
}
