@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.s-2 {
  background-color: #E5E5E5;
  color: #000000;
  font-family: "Proxima Nova Rg", serif;
  padding: 100px 0;
}

.s-2 h3 {
  font-size: 32px;
  line-height: 1.3;
}

.s-2__white-block {
  max-width: 930px;
  margin: 30px auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 37px;
  padding: 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  min-height: 220px;
}

.s-2__white-block_img {
  padding-right: 70px;
}

.s-2__white-block_info .title {
  font-size: 30px;
  position: relative;
  margin-bottom: 25px;
}

.s-2__white-block_info .title::after {
  content: '';
  position: absolute;
  width: 157px;
  height: 2px;
  background-color: #962262;
  left: 0;
  bottom: -10px;
}

.s-2__white-block_info .desc {
  font-size: 31px;
}

.s-2__after-text {
  font-size: 32px;
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .s-2 {
    padding: 60px 5%;
  }
  .s-2 h3 {
    font-size: 28px;
  }
  .s-2__white-block {
    min-height: 180px;
  }
  .s-2__white-block_img {
    padding-right: 50px;
  }
  .s-2__white-block_info .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .s-2__white-block_info .title::after {
    width: 140px;
    height: 2px;
  }
  .s-2__white-block_info .desc {
    font-size: 28px;
  }
  .s-2__after-text br {
    display: none;
  }
}

@media (max-width: 768px) {
  .s-2 {
    padding: 60px 20px;
  }
  .s-2 h3 {
    font-size: 28px;
  }
  .s-2__white-block {
    min-height: 160px;
    padding: 20px 50px 10px 10px;
  }
  .s-2__white-block_img {
    padding: 0 8%;
  }
  .s-2__white-block_info .title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .s-2__white-block_info .title::after {
    width: 65px;
  }
  .s-2__white-block_info .desc {
    font-size: 24px;
  }
  .s-2__after-text {
    font-size: 24px;
  }
  .s-2__after-text br {
    display: none;
  }
}

@media (max-width: 476px) {
  .s-2 {
    padding: 40px 20px;
  }
  .s-2 h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .s-2__white-block {
    padding: 15px 11px 10px;
    border-radius: 11px;
  }
  .s-2__white-block .row.w-100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .s-2__white-block_img {
    padding: 0 5%;
    text-align: center;
    margin-bottom: 8px;
  }
  .s-2__white-block_info {
    width: 100% !important;
  }
  .s-2__white-block_info .title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .s-2__white-block_info .title::after {
    height: 1px;
    width: 65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .s-2__white-block_info .desc {
    font-size: 14px;
  }
  .s-2__after-text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=section-2.css.map */