@import "varibles.scss";
@import "mixins.scss";

.s-7 {
  background-color: $bgcolor2;
  color: $maincolor1;
  padding: 100px 310px;

  h2 {
    font-size: 50px;
    margin-bottom: 60px;
  }

  &__accordion_item {
    margin-bottom: 70px;

    &_content {
      padding-bottom: 40px;
      padding-right: 70px;
      font-size: 20px;
      line-height: 1.6;
    }
  }

  &__dropdown {
    padding: 50px 70px 50px 0;
    cursor: pointer;

    &_text {
      font-size: 38px;
    }

    .relative-wrapper {
      position: relative;
      bottom: 117px;
    }

    &_number {
      position: absolute;
      left: -10px;
      font-size: 130px;
      color: rgba(20, 20, 20, 0.1);
    }

    &_shevron {
      position: absolute;
      padding: 20px;
      bottom: 30px;
      right: 10px;
      cursor: pointer;
      transform-origin: 57% 50%;
      @include trans;

      &:after {
        content: '';
        position: absolute;
        right: 14px;
        width: 15px;
        height: 3px;
        background-color: $maincolor1;
        transform: rotate(45deg);
      }

      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        background-color: $maincolor1;
        transform: rotate(-45deg);
      }
    }

    &_line {
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $maincolor1;
    }

    &:not(.collapsed) {
      .s-7__dropdown_shevron {
        transform: rotate(-180deg);
      }
    }
  }

  &__questions {
    font-size: 35px;
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .btn-default {
    @include btn-default($bgcolor1);
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .s-7 {
    padding: 80px 8%;
  }
}

@media (max-width: 768px) {
  .s-7 {
    padding: 60px 8%;

    h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__accordion_item {
      margin-bottom: 50px;

      &_content {
        padding-bottom: 20px;
        padding-right: 50px;
        font-size: 16px;
      }
    }

    &__dropdown {
      padding: 25px 70px 25px 0;

      &_text {
        font-size: 20px;
      }

      .relative-wrapper {
        position: relative;
        bottom: 55px;
      }

      &_number {
        left: -2px;
        font-size: 64px;
      }

      &_shevron {
        right: 10px;
        bottom: 3px;

        &:after {
          right: 15px;
          width: 12px;
          height: 2px;
        }

        &:before {
          width: 12px;
          height: 2px;
        }
      }
    }

    &__questions {
      font-size: 28px;
      padding-top: 50px;
      margin-bottom: 30px;
    }
  }
}


@media (max-width: 476px) {
  .s-7 {
    padding: 40px 20px;

    h2 {
      font-size: 18px;
      margin-bottom: 30px;
    }

    &__accordion_item {
      margin-bottom: 30px;

      &_content {
        padding-bottom: 10px;
        padding-right: 40px;
        font-size: 14px;
      }
    }

    &__dropdown {
      padding: 20px 40px 20px 0;

      &_text {
        font-size: 14px;
      }

      .relative-wrapper {
        bottom: 48px;
      }

      &_number {
        left: -5px;
        font-size: 55px;
      }

      &_shevron {
        right: 5px;
        bottom: 3px;
        padding: 16px;

        &:after {
          right: 12px;
          width: 10px;
          height: 2px;
        }

        &:before {
          width: 10px;
          height: 2px;
        }
      }
    }

    .btn-default {
      padding: 18px 19px 18px 29px;

      span {
        font-size: 15px;
      }

      .btn-pro {
        width: 68px;
        height: 52px;
      }

      &:first-child {
        margin-bottom: 25px;
      }
    }

    &__questions {
      font-size: 18px;
      padding-top: 50px;
      margin-bottom: 30px;
    }
  }
}
