@import "varibles.scss";
@import "mixins.scss";

.s-3 {
  padding: 100px 0;
  color: $maincolor1;

  &__fire {
    top: -130px;
    left: 0;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 50px;
  }

  &__slider {

    .slick-track {
      margin-left: 10%;
    }

    // &::-webkit-scrollbar-track {
    //   background-color: none;
    // }

    // &::-webkit-scrollbar-thumb {
    //   border-radius: $radius1;
    //   background-color: transparent;
    //   border: 1px solid lighten($basecolor, 30%);
    // }

    // &::-webkit-resizer {
    //   width: 2px;
    //   height: 2px;
    // }

    // &::-webkit-scrollbar {
    //   width: 2px;
    // }

    &_item {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 70px 40px 35px;
      will-change: transform;
      @include trans;
      transition-delay: 0.5s;

      &:focus-visible {
        outline: none;
      }

      &_img {
        width: 300px;
        border: 10px solid #ffffff;
        border-radius: 50%;
        margin-bottom: 70px;
        position: relative;
        @include trans;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: -15px;
          border-radius: inherit;
          z-index: -1;
          background: linear-gradient(to top, #F7A34B, #DE0046);
          @include trans;
        }

        img {
          border-radius: 50%;
          filter: grayscale(100%) brightness(110%);
          @include trans;
        }
      }

      &_info {
        font-size: 22px;
        line-height: 1.3;
        .desc {
          @include trans;
          opacity: 0;
        }
      }

      &.slick-current {
        transform: scale(1.2);
        padding: 80px 55px 70px;

        .s-3__slider_item_img {
          margin-bottom: 42px;

          img {
            filter: grayscale(0) brightness(100%);
          }
        }

        .s-3__slider_item_info {
          .desc {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .s-3 {
    padding: 80px 0;

    &__fire {
      top: -84px;
      left: 0;
      width: 290px;
    }

    h2 {
      font-size: 45px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    &__slider {

      &_item {
        &_img {}

        &_info {}
      }
    }
  }
}


@media (max-width: 768px) {
  .s-3 {
    padding: 60px 0;

    h2 {
      font-size: 38px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__slider {


      &_item {
        &_img {}

        &_info {}
      }
    }
  }
}

@media (max-width: 576px) {
  .s-3 {
    padding: 40px 0;

    h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__slider {


      &_item {
        &_img {}

        &_info {}
      }
    }
  }
}
